/* mixins
    i.   display
    ii.  responsive
    iii. misc

*/

// i. DISPLAY

@mixin visually-hidden() {
    /* hide something, but leave it accessible (e.g, for screen-readers) */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:active,
    &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

@mixin hidden {
    /* hide and remove from flow / layout */
    display: none !important;
    visibility: hidden;
}

@mixin invisible {
    /* only hide something, leave flow / layout intact */
    visibility: hidden;
}

// ii. RESPONSIVE

@mixin fluid-image {
    /* a proportionally stretchy image, fills parent container */
    width: 100% !important;
}

@mixin fluid-video {
    /* a proportionally stretchy video element, fills parent container */
    width: 100% !important;
    height: auto !important;
}

@mixin responsive-image-crop-outer {
    /* part 1 of 2, center and crop an image

        see:
            - http://stackoverflow.com/a/18247357
            - @mixin responsive-image-crop-inner

        note:
            - this mixin goes on the image's parent container
    */
    text-align: center;
    overflow: hidden;
}

@mixin responsive-image-crop-inner{
    /* part 2 of 2, center and crop an iamge

        see:
            - http://stackoverflow.com/a/18247357
            - @mixin responsive-image-crop-outer

        notes:
            - this mixin goes on the image element
    */
    position: relative;
    left: 100%;
    margin-left: -200%;
}

@mixin center-content($orientation:both) {
    /* center content with an unknown width or height (or both)
        param: $orientation (scss param) the orientation you wish to set

        note:
            - $orientation accepts:
                - both (default)
                - horizontal (centers width only)
                - verticle (centers height only)

        see:
            - http://css-tricks.com/centering-percentage-widthheight-elements/
    */


    @if $orientation == both {
        @include transform(translate(-50%, -50%));
        position: absolute;
        top: 50%;
        left: 50%;
    }
    @if $orientation == horizontal {
        @include transform(translate(-50%, 0));
        position: absolute;
        left: 50%;
    }
    @if $orientation == vertical {
        @include transform(translate(0, -50%));
        position: absolute;
        top: 50%;
    }
}

// iii. MISC

@mixin no-select {
    /* remove all selection outlines, highlights on elements (mostly affects touch) */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin ps-line-height($ps-font-size, $ps-leading-value) {
    line-height: ps-line-height($ps-font-size, $ps-leading-value);
}

@mixin ps-letter-spacing($ps-tracking-value) {
    letter-spacing: ps-letter-spacing($ps-tracking-value) + 0em;
}