.cube-side {
    -webkit-box-shadow: inset 0px 0px 161px 13px rgba(0,0,0,0.96);
    -moz-box-shadow: inset 0px 0px 161px 13px rgba(0,0,0,0.96);
    box-shadow: inset 0px 0px 161px 13px rgba(0,0,0,0.96);
}
